# Numbers

In [1]:
# Write an equation that uses 
# multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [133]:
# BODMAS rule
2 * 100 / 4 ** 0.5 + 0.50 - 0.25

100.25

In [2]:
# What is the value of the expression 4 * (6 + 5)
44

# What is the value of the expression 4 * 6 + 5
29

# What is the value of the expression 4 + 6 * 5
34

In [3]:
4 * (6 + 5)

44

In [2]:
4 * 6 + 5

29

In [4]:
4 + 6 * 5

34

In [3]:
# What is the type of the result of the expression 3 + 1.5 + 4?

In [7]:
3 + 1.5 + 4

8.5

In [8]:
type(3 + 1.5 + 4)

float

In [134]:
# What would you use to find a numberâ€™s square root, as well as its square?

In [135]:
# square root (**)
4**0.5

2.0

In [137]:
# Square
4 ** 2

16

# Strings

In [10]:
s = 'hello'
# Print out 'e' using indexing

In [11]:
s[1]

'e'

In [ ]:
# Print out the 'o'

In [12]:
s[4]

'o'

# Lists

In [3]:
# Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]

[1, 2, [3, 4, 'hello']]

In [55]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [13]:
# Sort the list below:
list4 = [5,3,4,6,1]

In [14]:
sorted(list4)

[1, 3, 4, 5, 6]

# Dictionaries

In [59]:
# Using keys and indexing, grab the 'hello' from the following dictionaries:

d = {'simple_key':'hello'}
# Grab 'hello'

In [60]:
d = {'simple_key':'hello'}
# Grab 'hello'
k=d.values()
for i in k:
    print(i)

hello

In [102]:
###or

d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [88]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [92]:
d = {'k1':{'k2':'hello'}}
k=d.values()
for i in k:
    print(i)
    
    f=i.values()
    for j in f:
        print(j)

{'k2': 'hello'}
hello

In [104]:
##or

d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [8]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello

In [118]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
n=d.values()
for i in n:
    print(i)
    for j in i:
        f = j.values()
        for k in f:
            print(k)
            for l in k:
                print(l)
                print(l[0])

[{'nest_key': ['this is deep', ['hello']]}]
['this is deep', ['hello']]
this is deep
t
['hello']
hello

In [109]:
## or

d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [7]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [116]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [ ]:
# Can you sort a dictionary? Why or why not?
# dictionary cannot be sorted because, data entered is in the from of key-value pair. We do not 
# need to sort we can find the value if we know the key

# Tuple

In [11]:
# What is the major difference between tuples and lists?
# How do you create a tuple?

In [ ]:
# What is the major difference between tuples and lists?
tuples is immutable data type where as list is a mutable data type

In [119]:
# How do you create a tuple?
T = (1, 2, 3, 4, 5, 6, 7)
T = ('Physics', 'Chemistry', 'Math', 'Biology', 'English')

# Sets

In [ ]:
# Unique thing about sets is that it can use bollean operaions

In [123]:
# Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [126]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
x = set(list5)
list5 = list(x)
print(list5)

[1, 2, 33, 4, 3, 11, 22]

# Booleans

In [ ]:
# What will be the resulting Boolean of the following pieces of code 
# (answer fist then check by typing it in!)
# Answer before running cell
2 > 3
False

In [127]:
2 > 3

False

In [15]:
# Answer before running cell
3 == 2.0
False

In [128]:
3 == 2.0

False

In [16]:
# Answer before running cell
3.0 == 3
True

In [129]:
3.0 == 3

True

In [17]:
# Answer before running cell
4**0.5 != 2
False

In [130]:
4**0.5 != 2

False

In [19]:
# Final Question: What is the boolean output of the cell block below?
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

In [ ]:
False

In [131]:
3 >= 4

False