#### 1: Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second.

    Input:
    listOne = [3, 6, 9, 12, 15, 18, 21]
    listTwo = [4, 8, 12, 16, 20, 24, 28]
    
    Output:
    [6, 12, 18, 4, 12, 20, 28]

In [1]:
# Write your code here
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = []
for i in range(1, len(listOne), 2):
    listThree.append(listOne[i])
    
for j in range(0,len(listTwo),2):
    listThree.append(listTwo[j])
    
print(listThree)

[6, 12, 18, 4, 12, 20, 28]

#### 2: Given an input list removes the element at index 2 and add it to the 4th position and also, at the end of the list

    Input: List = [54, 44, 27, 79, 91, 41]
    Output: [54, 44, 79, 27, 91, 41, 79]

In [1]:
# Write your code here
List = [54, 44, 27, 79, 91, 41]
num = List.pop(2)
List.insert(3, num)
List.append(num)
print(List)

[54, 44, 79, 27, 91, 41, 27]

#### 3: Given a list slice it into a 3 equal chunks and reverse each list

    Input:
    sampleList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
    
    Output:
    l1 = [3, 2, 1]
    l2 = [6, 5, 4]
    l2 = [9, 8, 7]

In [11]:
# Write your code here
sampleList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l1 = sampleList[:3]
l2 = sampleList[3:6]
l3 = sampleList[6:9]
l1.reverse()
l2.reverse()
l3.reverse()
print(l1)
print(l2)
print(l3)

[3, 2, 1]
[6, 5, 4]
[9, 8, 7]

#### 4: Given a list iterate it and count the occurrence of each element and create a dictionary to show the count of each element

    Input: list = [10, 20, 30, 10, 20, 40, 50]
    Output : dict = {10: 2, 20: 2, 30: 1, 40: 1, 50: 1}

In [9]:
# Write your code here

list = [10, 20, 30, 10, 20, 40, 50]
dict = {}
for i in list:
    dict[i] = list.count(i)
print("dict = ",dict)

dict =  {10: 2, 20: 2, 30: 1, 40: 1, 50: 1}

#### 5: Given a two list of equal size create a set such that it shows the element from both lists in the pair

    Input : 
    firstList = [1, 2, 3, 4, 5]
    secondList = [10, 20, 30, 40, 50]
    
    Output:
    result = {(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)}

In [4]:
# Write your code here
firstList=[1,2,3,4,5]
secondList=[10,20,30,40,50]
r=set(zip(firstList,secondList))
print(r)

{(4, 40), (5, 50), (2, 20), (3, 30), (1, 10)}

In [6]:
set([(firstList[i],secondList[i]) for i in range(len(firstList))])

{(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)}

#### 6: Given a following two sets find the intersection and remove those elements from the first set

    Input:
    firstSet = {10, 30, 40 , 60, 45}
    secondSet = {20, 50, 10 , 40, 55}
    
    Output:
    firstSet = {30, 60, 45}

In [2]:
# Write your code here
firstSet = {10, 30, 40 , 60, 45}
secondSet = {20, 50, 10 , 40, 55}

a = firstSet&secondSet

for i in a:
    firstSet.remove(i)

print(firstSet)

{45, 60, 30}

#### 7: Given two sets, Checks if One Set is Subset or superset of Another Set. if the subset is found delete all elements from that set

    Input:
    firstSet = {27, 43, 34}
    secondSet = {34, 93, 22, 27, 43, 53, 48}
    
    Output:
    First set is sub set of second set
    firstSet = {}

In [2]:
# Write your code here
firstSet = {27, 43, 34}
secondSet = {34, 93, 22, 27, 43, 53, 48}
if firstSet.issubset(secondSet):
    print("First set is sub set of second set")
    a = firstSet.clear()
    print(firstSet)

First set is sub set of second set
set()

#### 8: Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list

    Input:
        rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
        sampleDict ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
    
    Output:
        after removing unwanted elemnts from list [47, 69, 76, 97]

In [4]:
# Write your code here
rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
a = sampleDict.values()
print(a)
for i in rollNumber:
    if i not in a:
        rollNumber.remove(i)
print(rollNumber)

dict_values([47, 69, 76, 97])
[47, 69, 76, 95, 97]

#### 9: Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates

    Input:
        d ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
    
    Output:
        [47, 52, 44, 53, 54]

In [7]:
# Write your code here
d ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
k = set(d.values())
L = list(k)
print(L)

[44, 47, 52, 53, 54]

#### 10: Remove duplicate from a list and create a tuple and find the minimum and maximum number

    Input:
        sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
    
    Output:
        unique items [87, 45, 41, 65, 99]
        tuple (87, 45, 41, 65, 99)
        min: 41
        max: 99

In [6]:
# Write your code here
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
x = set(sampleList)
L = list(x)
print("Unique items:", L)
sampleList = tuple(x)
print("Tuple:",sampleList)
m1 = min(sampleList)
m2 = max(sampleList)
print("Min:",m1)
print("Max:",m2)

Unique items: [65, 99, 41, 45, 87, 94]
Tuple: (65, 99, 41, 45, 87, 94)
Min: 41
Max: 99